.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 100;
}
#zero{
    font-weight: 500;
}
a{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.card-header{
    display: flex;
    height: 2.5em;
    width: 12em;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}
#card-button {
    display: flex;
    height: 3em;
    font-size: 1.2em;
}